@import './variables.scss';

body {
  background: $background-color;
}

.intro {
  color: $emphasis-color;
  font-size: 2em;
  padding-left: 50px;
  background: left top no-repeat url('/public/images/make-a-splash.png');
  background-size: auto 90%;
}
